<%- include('./partials/header') %>

  <div class="content" id="data"></div>

  <%- include('./partials/footer') %>

  <script>
    const entry = document.getElementById('data');

    // Fetch some photos from the https://picsum.photos/
    const data = fetch('https://picsum.photos/v2/list?page=2&limit=10')
      .then(res => res.json())
      .then(res => {
        let content = '';

        if (res) {
          content = `<p class="description">Here some random photos from <a href="https://picsum.photos/">Lorem Picsum</a></p>`;
          res.forEach(img => {
            content += `<img src=${img.download_url} loading="lazy">`;
          });
        } else {
          content = `<p>Please refresh page ..</p>`;
        }

        entry.innerHTML = content;
      })
      .catch(err => console.warn(err));
  </script>

</body>
</html>
