<%- include('./partials/header') %>

  <div class="content">
    <img src="https://picsum.photos/seed/picsum/1000/200" alt="">
    <p class="description">Get some random photos from the <a href="https://picsum.photos/">Lorem Picsum</a></p>
    <a class="btn btn--fill" href="/gallery">View all photos</a>
  </div>

  <%- include('./partials/footer') %>

</body>
</html>
