<%- include('./partials/header') %>

  <div class="content">
    <form>
      <h2>Sign up</h2>

      <label for="email">Email</label>
      <input type="text" name="email" required autocomplete="off">
      <div class="">error</div>

      <label for="password">Password</label>
      <input type="password" name="password" required autocomplete="off">
      <div class="">error</div>

      <button class="btn btn--fill">Sign up</button>
    </form>
  </div>

  <%- include('./partials/footer') %>

  <script>
    const form = document.querySelector('form');

    form.addEventListener('submit', e => {
      e.preventDefault();

      const email = form.email.value;
      const password = form.password.value;

      console.log(email, password);
    });
  </script>

</body>
</html>
